.about{
    line-height: 32px;
    text-align: justify;
    text-justify: distribute;
  }

@media (min-width: 1024px){
    .aboutus{
        padding: 100px;
        padding-top: 200px;
    }  
}
@media (min-width: 768px) and (max-width: 1024px){
    .aboutus{
        padding: 100px;
        padding-top: 200px;
    }  
}
@media (min-width: 0) and (max-width: 768px){
    .aboutus{
        padding: 20px;
        padding-top: 200px;
    }  
}
