@keyframes section_1 {
  0% {
    left: 0px;
    top: -100px;
    opacity: 0;
  }

  100% {
    left: 0px;
    top: 0;
    opacity: 1;
  }
}
.section1{
    .section1_center{
      .section1_right {
  & p {
    animation-name: section_1;
    animation-duration: 2s;
  }  
    }
    .section1_left{
        & img{
            animation-name: section_1;
                animation-duration: 2s;
        }
    }
}
}
@keyframes section_3_top {
  0% {
    right: -1000px;
    top: 0;
    opacity: 0;
  }

  100% {
    right: 0px;
    top: 0;
    opacity: 1;
  }
}
@keyframes section_3_bottom {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.section3{
  & section{
    animation-name: section_3_top;
    animation-duration: 1s;
  }
}
.secion3_4{
  animation-name: section_3_bottom;
  animation-duration: 2s;
}
html{
  scroll-behavior: smooth;
}