
html{
  scroll-behavior: smooth;
}
@media screen and (min-width:1024px){
  .section2_center{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    column-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .section2_center{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width:0) and (max-width:768px) {
  .section2_center{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 46px;
    justify-items: center;
  }
}
.mobile-container {
  max-width: 100%;
  height: auto;
  color: white;
}

.topnav {
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: rgb(175, 178, 180);
  transition: 300ms;
  background-color: black;
  &:hover{
    color: white;
  }
}

.topnav a.icon {
  width: 100% ;
  height: auto;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
}

.active {
  height: 100px;
  background-color: black;
  color: white;
}

:root.dark-mode {
  --backgound: #1e293b;
  --backgound-overlay: rgba(32, 32, 32, 0.8);
  --font-colour: #ecbf1d;
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
