@keyframes section_1 {
  0% {
    left: 0px;
    top: -100px;
    opacity: 0;
  }

  100% {
    left: 0px;
    top: 0;
    opacity: 1;
  }
}
.section1{
    .section1_center{
      .section1_right {
  & p {
    animation-name: section_1;
    animation-duration: 2s;
  }  
    }
    .section1_left{
        & img{
            animation-name: section_1;
                animation-duration: 2s;
        }
    }
}
}
@keyframes section_3_top {
  0% {
    right: -1000px;
    top: 0;
    opacity: 0;
  }

  100% {
    right: 0px;
    top: 0;
    opacity: 1;
  }
}
@keyframes section_3_bottom {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.section3{
  & section{
    animation-name: section_3_top;
    animation-duration: 1s;
  }
}
.secion3_4{
  animation-name: section_3_bottom;
  animation-duration: 2s;
}
html{
  scroll-behavior: smooth;
}
@media screen and (min-width:1024px){
  .section2_center{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    column-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .section2_center{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width:0) and (max-width:768px) {
  .section2_center{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 46px;
    justify-items: center;
  }
}
.mobile-container {
  max-width: 100%;
  height: auto;
  color: white;
}

.topnav {
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: rgb(175, 178, 180);
  transition: 300ms;
  background-image: url(../images/section22/background.png);
  &:hover{
    color: white;
  }
}

.topnav a.icon {
  width: 100% ;
  height: auto;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 120px;
}

.active {
  height: 180px;
  background-image: url(../images/section22/background.png);
  color: white;
}