::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 6px;
  }
  .swiper-button-next {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;
  }
  .swiper-button-next::after {
    width: 18px;
    height: 18px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .swiper-button-prev {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;

  }
  .swiper-button-prev::after {
    width: 18px;
    height: 18px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
.swiper-slide{
  user-select: none;
  -webkit-user-drag: none;
}
@media (min-width:0) and (max-width:768px) {
  .swiper-button-prev {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;
    margin-top: 50px;
  }
  .swiper-button-next {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;
    margin-top: 50px;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .swiper-button-prev {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;
    margin-top: 50px;
  }
  .swiper-button-next {
    width: 35px;
    height: 35px;
    background-color: darkgray;
    border-radius: 50%;
    margin-top: 50px;
  }
  .swiper-slide{
    margin-top: -15px;
  }
}
.support{
  width: 55px;
  height: 55px;
  &:hover .support_title{
    display: block;
  }
  .support_title{
    width: 110px;
    display: none;
    position: absolute;
    right: 55px;
    bottom: 15px;
    background-color: #2b2b2b;
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 300ms;
  }
}

.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: #f5d057d2;
}


/* ارتفاع منو در حالت بسته */
.mobile-container {
  height: 100px; /* تنظیم ارتفاع به 100px */
  overflow-y: hidden; /* پنهان کردن اسکرول عمودی */
}

/* زمانی که منو باز هست */
#myLinks.show {
  height: auto; /* تنظیم ارتفاع به صورت خودکار هنگام باز شدن منو */
  overflow-y: auto; /* فعال کردن اسکرول برای زمانی که محتوا بیشتر از ارتفاع باشد */
}
