.facebook {
    & svg {
      &:hover path {
        fill: #4e7ab5;
        stroke: white;
      }
      &:hover .letter {
        fill: white;
      }
    }
  }
  .linkedin {
    & svg {
      &:hover path {
        fill: #0288d1;
        stroke: white;
      }
      &:hover .letter {
        fill: white;
      }
    }
  }
  .instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      &:hover path {
        fill: white;
      }
      &:hover .letter {
        fill: #be2d2d;
      }
    }
  }
  .telegram {
    & svg {
      &:hover path {
        fill: #2da6db;
      }
      &:hover .letter {
        fill: white;
      }
    }
  }
  .aparat {
    & svg {
      border-radius: 50%;
      &:hover .aparatsvg {
        fill: #ed3d77;
      }
    }
  }
  .magazine {
    & svg {
      &:hover .magazinesvg {
        fill: #89c864;
      }
    }
  }